/* pages/cart/index.wxss */
.tips{
  justify-content: space-between;
  align-items: center;
  padding: 20rpx 40rpx;
}

.goods-card{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10rpx;
  padding: 0 20rpx;
  image{
    width: 140rpx;
    border-radius: 10rpx;
    margin-right: 10rpx;
  }
  .action{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20rpx;
  }
}